.main .title{width: 100%;font-size: 18px;text-align: center;padding: 10px 0px 20px;margin-bottom: 10px;border-bottom: 1px solid #eae6e6;}
.main .title .stat{font-size: 12px;color: #999;padding-top: 20px;}
.main .content img{max-width: 100%;}
.main .content pre{border:1px solid #eae6e6;background: #f7f3f3;padding: 10px;margin: 5px 0px;}
.main .copyright{border-bottom:1px solid #eae6e6;padding: 10px 0px;margin: 10px 0px;}
.main .operation{text-align: center;}
.main .Label{margin-bottom: 10px;}
.recommend{text-align: center;display: block;}
.recommend img{width: 100%;}