html body{background-image: url(../images/login-bg.jpg)!important;}
.xs-hide{height: 200px;}
.login-main .logo{margin:20px auto 20px;display: block;}
.login-main .formbox{box-shadow: 0px 0px 20px #888888;border-radius: 2px;padding: 30px 20px;}
.login-main .formbox .inputbox{width: 100%;height: 50px;position: relative;}
.login-main .formbox .inputbox input {height: 50px;font-size: 15px;}
.login-main .formbox .info{padding-top: 10px;height: 40px!important;;}
.login-main .formbox .inputbox .vierfy-code{position: absolute;right: 1px;top: 1px;height: 48px;}
.login-main .formbox .inputbox .l{display: block;border-right: 1px solid #e6e6e6;height: 30px;position: absolute;right: 140px;top: 10px;}
.login-main .formbox .bts{text-align: center;}
.login-main .formbox .bts .layui-btn{width: 100%;}