*{
	padding:0;
	margin:0;
}
a{
	font-size: 15px;
	color:#333333;
	text-decoration: none;
}
a:hover{
	text-decoration:none;
}
body{
	background:rgb(245,245,245);
	/*background: green;*/
}
/*阿里矢量图库引用*/
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
/*注册登录样式*/
.t{
	display: inline-block;
	transform:translate(-20px,-5px);
}
/*登录按钮样式*/
.qqlogo{
	border:1px solid deepskyblue;
	color:deepskyblue !important;
	background: white;
	width:100px;
	height:30px;
	margin:10px 180px;
	text-align: center;
	font-size: 14px!important;
	overflow: hidden;
	display: block;
}
.qqlogo>i,.qqlogin>i,.weibologin>i{
	margin-right:5px;
}
.reg{
	width:100%;
	background: #fff;
}
.reg>.reg-r a{
	color:#666;
	font-size: 16px;
	margin-right:25px;
}
.reg-r{
	margin-top:10px;
	margin-right:200px;
}
.reg-r>.qqlogin{
	border:1px solid deepskyblue;
	color:deepskyblue !important;
	background: white;
	width:100px;
	height:30px;
	/*margin:10px 180px;*/
	text-align: center;
	font-size: 14px!important;
	display: inline-block;
	overflow: hidden;
}
.weibologin{
	border:1px solid #ff734a;
	color:#ff734a !important;
	background: white;
	width:100px;
	height:30px;
	/*margin:10px 180px;*/
	text-align: center;
	font-size: 14px!important;
	display: inline-block;
	overflow: hidden;
}
.reg a:hover{
	text-decoration: none;
}
/*滑过按钮相应logo动画效果*/
.qqlogo:hover i,.weibologin:hover i,.qqlogin:hover i {
	animation: 0.8s linear mov;
}
	/*动画效果规则*/
	@keyframes mov{
		0%{transform:translate(0px,0px)}
			33%{transform:translate(0px,-20px)}
			66%{transform:translate(0px,20px)}
			100%{transform:translate(0px,0px)}
	}
/*顶部登录样式结束*/
/*顶部导航栏*/
.header{
	/*margin-top: 120px;*/
	width:100%;
	height:80px;
	background:#0082df;
	overflow:hidden;
	
}
.header>.nav-left img{
	display:block;
	margin:10px 180px;
}
.header>.nav-right>ul{
	margin-right:200px;
}
.header>.nav-right ul>li{
	list-style: none;
	float:left;
	/*margin-right:80px;*/
	width:90px;
	height:80px;
	text-align: center;
	line-height: 80px;
}
.header li>a{
	font-size:20px;
	color:#fff;
}
.header>.nav-right li:hover{
	background:rgb(0, 111, 216);
}
.header>.nav-right li>a:hover{
	text-decoration: none;
}
/*顶部搜索*/
.topsearch{
	width:100%;
	height:150px;
	background:rgb(255,255,255);
}
.topsearch>.sear{
	text-align: center;
}
.topsearch>.sear>input{
	width:600px;
	height:60px;
	background:white;
	border:3px solid deepskyblue;
	text-indent: 2em;
	/*line-height: 150px;*/
	margin-top:30px;
	outline:none;
	
}

.sear>button{
	background: deepskyblue;
	width:150px;
	height:60px;
	color:white;
	outline:none;
	border:1px solid deepskyblue;
	font-size:18px;
}
.sear>button>i{
	margin-right:10px;
}
/*轮播部分*/
.banner{
	width:1200px;
	height:340px;
	border: 1px solid deepskyblue;
	margin:20px auto;
	position:relative;
	
}
.banner img{
	display:none;
	position:absolute;
	top:0;
	left:0;
}
.banner ul{
	position:absolute;
	bottom:5px;
	left:50%;
	margin-left:-48px;
}
.banner ul li{
	background: #a5a5a5;
	margin-left:10px;
	list-style:none;
	border-radius:50%;
	cursor: pointer;
	width:14px;
	height:14px;
	float:left;
}
/*翻页的按钮*/
.banner .all{
	position:absolute;
	width:50px;
	height:85px;
	background:rgba(0,0,0,0.3);
	top:50%;
	margin-top: -42px;
	color:rgba(255,255,255,0.6);
	font-size:50px;
	text-align: center;
	text-decoration: none;
	line-height: 85px;
}
.banner .all:hover{
	color:rgba(255,255,255,1);
	background:rgba(0,0,0,0.6);
}
.banner .prev{
	left:5px;
}
.banner .next{
	right:3px;
}
/*标签部分*/
.tag-l,.tag-r{
	width:600px;
	/*height:260px;*/
	
}
.tag-l .tag-top,.tag-r .tag-top{
	border:1px solid grey;
	height:40px;
	line-height: 40px;
	color:#000;
	font-size:16px;
	text-indent: 2em;
	font-weight:bold;
}
.tag a{
	
	margin-right:5px;
	color:#6e6e6e;
}
.tag .tag-top a{
	float: right;
}
.tag-left a,.tag-right a{
	float: right;
	margin-right:5px;
	color:#000;
}
.tag a:hover{
	text-decoration: none;
}
.tag-list{
	width:100%;
	height:140px;
	border: 1px solid grey;
}
.tag-list ul li{
	list-style: none;
	float:left;
	width:15%;
	margin-top:4px;
	margin-left: 25px;
	margin-bottom:3px;
	/*margin:1px px;*/
}
.tag-list ul li>a,{
	color:#6e6e6e;
	
}
/*浮动两个标签列表*/
.tag{
	float:left;
	margin:0 auto;
}
.tag-l{
	float:left;
}
.tag-r{
	float:right
}
/*给标签父级居中*/
.box{
	max-width:1300px;
	margin:60px auto;
}
.box .tag-l,.box .tag-r{
	/*box-sizing: border-box;*/
	/*margin:0 50px;*/
	margin-right: 50px;
	background:#fff;
	
}
/*瀑布流分布*/
.code .nav>.nav-left{
	float:left;
}
.code .nav>.nav-right{
	float:right;
}
.code{
	max-width:1300px;
	margin:0px auto;
}
.code .nav .nav-left,.code .nav .nav-right{
	margin-top: 30px;
}
.nav-left{
	font-size: 18px;
}
.nav-right{
	margin-right:50px;
}
.nav-right button{
	width:80px;
	height:30px;
	background:#fff;
	outline: none;
	border:1px solid #d9d9d9;
	margin-right:20px;
	line-height: 30px;
	color:#262626;
}
.nav-right button:hover{
	background:#0082df;
	color:#fff;
}
/*瀑布流展示区*/
/*瀑布流分布*/
.code .nav>.nav-left,.sign .nav>.nav-left{
	float:left;
	font-size:28px;
}
.code .nav>.nav-right,.sign .nav>.nav-right{
	float:right;
}
.code,.sign{
	max-width:1300px;
	margin:0px auto;
}
.code .nav .nav-left,.code .nav .nav-right,.sign .nav .nav-left,.sign .nav .nav-right{
	margin-top: 30px;
}
.nav-left{
	font-size: 18px;
}
.nav-right{
	margin-right:50px;
}
.nav-right button{
	width:80px;
	height:30px;
	background:#fff;
	outline: none;
	border:1px solid #d9d9d9;
	margin-right:20px;
	line-height: 30px;
	color:#262626;
}
.nav-right button:hover{
	background:#0082df;
	color:#fff;
}
/*瀑布流区域*/
.code .pic,.sign .pic{
width:1400px;
margin:20px auto;
overflow:hidden;
}
.code .pic ul>li,.sign .pic ul>li{
list-style: none;
background:#fff;
margin:20px 0px;
tr
}
.pic ul{
float:left;
width:280px;
margin:10px 50px 10px 0;
}
.pic ul>li p{
width:280px;
text-align:center;
margin:10px 0;
/*background:red;*/
}
.pic ul>li p i{
margin-right:20px;
}
.pic ul>li p .u-r{
float:right;
}
/*底部友情链接*/
.links,.links a{
	margin:10px auto;
	max-width:1200px;
	/*background: greenyellow;*/
	height:200px;
	color:rgb(104, 104, 104);
	text-decoration: none;
}

.links .linktop a{
	font-size: 20px;
	margin:5px 20px 5px 0;
}
.linklist{
	margin-top: 30px;
}
.links .linklist a{
	font-size: 18px;
	/*display:block;*/
	/*width:5%;*/
	margin:10px 10px 10px 0;
	
}
/*底部版权*/
.footer,.footer a{
	width:100%;
	background:rgb(22, 142, 225);
	height:80px;
	color:#fff;
	font-size:18px;
	text-decoration: none;
	
}
.footer a{
	margin:0 20px;
}
.footer .box{
	width:1200px;
	line-height: 80px;
	
}
/*顶部固定导航和搜索*/
.fnav{
	position:fixed;
	display:none;
	top:0;
	width:100%;
	height:120px;
	background:red ;
}
.fnav .nav{
	height:50px;
	background:#3f4657;
	
}
.fnav .nav .navl{
	float:left;
	margin-left:180px;
}
.fnav .nav .navl li{
	float:left;
	list-style: none;
	width:100px;
	height:50px;
	line-height:50px;
	font-size:15px;
	/*background-color:#00BFFF!important;*/
	/*margin-right: 20px;*/
	text-align: center;
}
.fnav .nav .navl li:hover{
	background:#569fe8;
}
.fnav .nav .navl li a{
	text-decoration: none;
	color:#fff;
}
.fnav .nav .navr {
	float:right;
	margin-right:80px;
	
}
.nav>.navr li{
	float:left;
	list-style: none;
	/*line-height: 50px;*/
}
.nav>.navr li button{
	/*line-height: 50px;*/
	width:60px;
	height:30px;
	background:#569fe8;
	outline:none;
	border:0;
	margin-left:20px;
	color:#fff;
	font-size:15px;
	margin-top:10px;
	border-radius:3px;
}
.fnav .sear{
	width:100%;
	height:70px;
	background:#fff;
	float:left;
	margin-top: -10px;
	

}
.fnav .sear .search{
	margin:20px auto;
	/*margin-left:80px;*/
	transform: translate(40px,0px);
	
}
.fnav .sear img{
	margin:18px 180px;
	float:left;
}
.fnav .sear .search input{
	width:500px;
	height:30px;
	outline:none;
	border:1px solid #569fe8;
	text-indent:2em;
}
.fnav .sear .search button{
	width:100px;
	height:30px;
	background:#569fe8;
	border:1px solid #569fe8;
	outline:none;
	margin:0 0 0 -10px;
	color:#fff;
}
.fnav>.sear>.search>button>.fa{
	/*margin-left:-18px;*/
	margin-right:18px;
}
/*右下角菜单栏*/
.rbar{
	width:50px;
	height:150px;
	position: fixed;
	bottom:80px;
	right:50px;
}
.rbar .m3{
	display:none;
}
.rbar>div,.rbar a{
	width:50px;
	height:50px;
	/*border: 1px solid deepskyblue;*/
	text-align:center;
	line-height: 50px;
	background: rgb(238, 238, 238);
	margin-top:3px;
	font-size:30px;
	color:rgb(125, 125, 125);
	cursor: pointer;
}
.rbar>div:hover,.rbar a:hover{
	background: rgb(97, 182, 81);
	color:#fff;
}
/*微信隐藏样式*/
.wx{
	position:fixed;
	display:none;
	bottom:340px;
	right:230px;
}
/*以下样式是code.html样式*/
.add{
	max-width: 1200px;
	margin:10px 250px;
}
.add a,.add span{
	color:rgb(153, 153, 153);
	text-decoration: none;
	font-size: 15px;
}
.add span{
	margin:0 10px;
}
/*导航列表*/
.title{
	max-width: 1400px;
	margin:0 auto;
	height:100px;
	background:rgb(255,255,255);
}
.title ul li,.title ul li a{
	float:left;
	list-style:none;
	font-size:18px;
	color:#000;
	width:140px;
	height:45px;
	line-height:45px;
	background: ;
	
}
.title>.box1{
	border-bottom:3px solid dodgerblue;
		width:1400px;
	height:45px;
}
.title>.box1 ul li{
	text-indent:2em;
}
.title>.box1 ul li:hover a{
	color:#fff;
	background: #0082df;
}
.title>.box2 {
	width:1400px;
	height:55px;
	line-height:55px;
}
.title>.box2 a{
	margin:0 20px;
	/*display: inline-block;*/
	/*width:120px;*/
	/*height:33px;*/
	padding:10px;
}
.title>.box2 a:hover{
	color:#1169c1;
	border: 1px solid #1169c1;
	border-radius:3px;
}
/*底部翻页样式*/
.page{
	width:1100px;
	margin:20px auto;
	text-align: center;
	overflow:hidden;
}
.page ul li{
	float:left;
	list-style:none;
	border:1px solid #d9d9d9;
	width:100px;
	height:70px;
	background: rgb(255,255,255);
	line-height: 70px;
	margin-right:10px;
}
.page li a{
	font-size: 18px;
}
.page ul li:hover,.page ul li:hover a{
	background: #168ee1;
	color:#fff;
}
/*默认选中.active第一页*/
.active,.active a{
background: #168ee1!important;
	color:#fff!important;	
}
/*无法选择的样式.no样式*/
#no,#no a{
	cursor: default;
	background:#fff;
	color:#bfbfbf;
}
#no:hover,#no:hover a{
	background:#fff;
	color:#bfbfbf;
}
/*排行榜页面样式*/
.rank{
	width:100%;
	height:420px;
	background: url(../img/rank.jpg) no-repeat center center;
}
.ranknav{
	width:100%;
	height:80px;
	background:rgb(255,255,255);
}
.ranknav>ul{
	margin:0 auto;
	max-width:1000px;
	
}
.ranknav ul li{
	line-height: 80px;
	list-style: none;
	float: left;
	width:120px;
	text-align: center;

}
.ranknav ul li>a{
	font-size: 18px;
}
.ranknav li:hover,.hov{
		border-bottom:3px solid #0063ca;
}
.ranknav li a:hover,.hov{
	color:#0063ca;
}
/*默认选中的样式*/
/*.ranknav ul .dj{
	border-bottom:3px solid #0063ca;
	color:#0063ca;
}*/
.hov>a{
		color:#0063ca;
}
/*表格内容*/
.con{
	width:1200px;
	height:800px;
	background: rgb(255,255,255);
	margin:20px auto;
}
.con th{
	color:#0063ca;
}
.con table tbody tr td span{
	margin:0 15px;
}
.con td img{
	border-radius:50%;
}
.con table{
	border:1px solid transparent;
}
/*开发工具页面样式*/
.tool{
	display:flex;
	justify-content:center;
	min-width:1200px;
	margin:10px auto;
	/*background:red;*/
	height:400px;
	
}
.tool>div{
	width:230px;
	height:230px;
	background: orange;
	float: left;
	margin:40px 30px;
}
.tool>.box1{
	background: #4ebf56;
}
.tool>.box2{
	background: #3ab4a9;
}
.tool>.box3{
	background:#71a7e0;
}
.tool>.box4{
	background: #fa5f5b;
}
.tool>div>a{
	font-size:6em;
	color:rgb(255,255,255);
	/*text-align:center;*/
	margin:0 auto;
	display: block;
}
.tool>div>a>svg{
	display: block;
	margin:30px auto;
	text-align:center;
	
}
.tool>div>p{
	text-align:center;
	color:#fff;
	font-size:15px;
}
/*第一行p大字体*/
.tool>div>.lg{
	font-size: 22px;
}
/*滑过box向上移动3px*/
.tool>div:hover{
	transform: translate(0,-3px);
}

h3{
		height:150px;
		/*overflow: hidden;*/
	margin:-100px 400px;
	/*text-align: center;*/
	font-weight: bold;
	font-size: 22px;
	color:373737;
}
h3>span{
	margin-left:28px;
		font-size: 15px;
	color:#888888;
}
/*底部书签卡片区域*/
.sq{
	min-width:1200px;
	height:400px;
	margin: 0 auto;
	/*background: orangered;*/
	display:flex;
	justify-content:center;
	/*align-items:center;*/
}
.sq>div{
	margin-top: 30px;
	width:280px;
	height:170px;
	background-color:#fafafa;
	float: left;
	margin-left:20px;
}
/*小卡片上边框样式*/
.sq>.box1{
	
	border-top:1px solid #ffac13;
}
.sq dl{
	float: right;
	margin:70px 35px;
}
.sq>.box2{
	border-top: 1px solid #b4d59a;
}
.sq>.box3{
	border-top: 1px solid #2196f3;
}
.sq>.box4{
	border-top: 1px solid #73d3c5;
}
/*小卡片定位*/
.sq>.box1 .img{
	display:inline-block;
	width:90px;
	height:90px;
	background-image:url(../img/pic.png);
	background-repeat:no-repeat;
	background-position:-262px 0px;
	margin-top:40px;
	margin-left:40px;
}
.sq>.box1 .img{
	display:inline-block;
	width:90px;
	height:90px;
	background-image:url(../img/pic.png);
	background-repeat:no-repeat;
	background-position:-262px 0px;
	margin-top:40px;
	margin-left:40px;
}
.sq>.box2 .img{
	display:inline-block;
	width:90px;
	height:90px;
	background-image:url(../img/pic.png);
	background-repeat:no-repeat;
	background-position:-355px 0px;
	margin-top:40px;
	margin-left:40px;
}

.sq>.box3 .img{
	display:inline-block;
	width:90px;
	height:90px;
	background-image:url(../img/pic.png);
	background-repeat:no-repeat;
	background-position:-448px 0px;
	margin-top:40px;
	margin-left:40px;
}
.sq>.box4 .img{
	display:inline-block;
	width:90px;
	height:90px;
	background-image:url(../img/pic.png);
	background-repeat:no-repeat;
	background-position:-541px 0px;
	margin-top:40px;
	margin-left:40px;
}
