
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;display:block;overflow:hidden;height:0;line-height:0;}
.pd20{padding:20px;}
.pd50{padding:50px;}

#azen-logino {z-index:3; float:right;}
/* login */
.login{position:relative;height:32px;line-height:32px;margin:16px 13px 0 0;display:inline;}
.login li{float:left;display:block;}
.login li a{text-align:center;font-size:12px;float:left;display:block;width:65px;height:28px;line-height:28px;background:#505050;color:#acacac; transition:all 0.3s ease 0s; border-radius:2px;}
.login .reg a{background:#6BC30D;color:#fff;}
.loginmask{width:100%;height:100%;z-index:8;background:#000;position:fixed;top:0;left:0;display:none;}
/* loginalert */
#loginalert{width:440px;background:#fff;position:fixed;top:-600px;left:50%;margin-left:-220px;_margin-left:500px;z-index:99;display:none;}
.closealert{width:20px;height:20px;cursor:pointer;background:url("../img/icon/close-icons.png") no-repeat;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out;}
.closealert:hover{transform:rotate(-180deg);-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-o-transform:rotate(-180deg);}
.loginwrap{width:340px;margin:0 auto;}
.loginh{height:40px;margin-top:20px;}
.loginh .fl{font-size:30px;line-height:40px;color:#292929;}
.loginh .fr{font-size:18px;line-height:50px;color:#707070;}
.loginh .fr a{font-size:18px;line-height:50px;color:#FF4200;margin-left:5px;}
.loginwrap h3{font-size:14px;font-weight:500;height:22px;margin-top:15px;color:#292929;}
.loginbtn{color:#6B6A6A;height:70px;overflow:hidden;}
.logininput input{display:block;height:14px;line-height:14px;width:100%;border:#DAE2E5 1px solid; border-radius:2px; text-indent:10px;overflow:hidden;color:#979696;padding-top:13px;padding-bottom:13px; margin-top:10px; font-family:"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
.logininput input:focus {border:1px solid #f90; box-shadow:0 0 6px rgba(0, 0, 0, 0.19);}
.logininput .loginusername{margin-top:15px;margin-bottom:10px;}
.loginsubmit{width:130px;height:40px;margin:15px 20px 0 0;display:inline;}
.loginsubmit .btn{width:130px;height:40px;line-height:40px;overflow:hidden;color:#fff; border-radius: 2px; background:#70CA10;display:block;text-align:center;font-size:20px;border:none;font-family:'微软雅黑';cursor:pointer;}
.loginpd{border-bottom:1px solid #ecf2f5;}
.thirdlogin .pd50{padding-top:30px;padding-bottom:30px;}
.thirdlogin h4{color:#6B6A6A;font-weight:500;margin-bottom:20px;}
.thirdlogin ul li{display:inline;float:left;margin:0 20px 10px 0;}
.thirdlogin ul li a{display:block;float:left;height:40px;line-height:40px;width:160px;color:#fff;text-indent:60px; border-radius: 2px;}
#sinal a{background:#d63b22 url("../img/icon/weibo.png") no-repeat 0px -5px;}
#qql a{background:#3eb0d8 url("../img/icon/qq.png") no-repeat 0px -5px;}
.loginwrap .login_warning{height:20px; border-radius:2px; line-height:20px;overflow:hidden;background:#ff7200;color:#fff;padding:0 4px;float:left;text-align:center;font-size:12px;margin-left:14px;display:inline-block;}
/* reg_setp */
#reg_setp{position:fixed;width:100%;height:100%;background:#f0f1f1;z-index:999;top:0;left:100%;display:none;}
*html #reg_setp{position:absolute;top:expression(eval(document.documentElement.scrollTop));}
#reg_setp h3{font-size:14px;font-weight:500;overflow:hidden;height:80px;line-height:90px;}
#setp_quicklogin{width:400px;height:210px;position:absolute;left:50%;margin-left:-200px;top:230px;text-align:center;display:none;}
.blogo{width:150px;height:180px;position:absolute;top:50px;left:50%;margin-left:-75px; background:url("../icon/login.png") no-repeat top;}
.quicklogin_socical li{float:left;margin:0 20px 0 0;display:inline;width:186px;height:50px;overflow:hidden;}
.quicklogin_socical li a{display:block;line-height:46px;color:#fff;text-align:left;text-indent:68px;font-size:16px; border-radius:2px;}
.quicklogin_socical_weibo a{background:#d63b22 url("../img/icon/weibo.png") no-repeat 0 0;border:2px solid #d63b22;}
.quicklogin_socical_qq a{background:#3eb0d8 url("../img/icon/qq.png") no-repeat 0 -2px;border:2px solid #3eb0d8;}
.back_setp{width:100px;height:50px;line-height:50px;border-radius:2px; background:#8F8F90;color:#fff;cursor:pointer;font-size:22px;text-align:center;position:absolute;left:20px;top:20px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.back_setp:hover{background-color:#6BC30D;}

.azen-thins li  i{float:left; color:#fff; font-size:15px;}
.quicklogin_socical li a:hover {text-decoration:none;}
#sinal a:hover {text-decoration:none;}